<% layout('layout') -%>
<script>
  $(document).ready(function() {
    var activeUsersTable = $('#activeUsersTable').DataTable({
      bFilter: false,
      bInfo: false
    });

    var invitedUsersTable = $('#invitedUsersTable').DataTable({
      bFilter: false,
      bInfo: false
    });

    $('#addUserDialog').dialog({
      modal: true,
      autoOpen: false
    });

    $('#addUsersButton').click(function() {
      $('#orgUsers').val();
      addUserValidation();
      $('#addUserDialog').dialog('open');
    });

    var addUserValidation = function() {
      if ($('#orgUsers').val()) {
        $('#addUserSubmit').prop('disabled', false);
      } else {
        $('#addUserSubmit').prop('disabled', true);
      }
    };

    $('#orgUsers').on('keyup', addUserValidation);

    $('#addUserSubmit').click(function() {
      $.ajax({
        url: '/api/inviteUsers',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          user: '<%= user._id %>',
          organization: '<%= user.organization %>',
          users: $('#orgUsers').val(),
          sendInvites: ($('#orgEmail').is(':checked') ? 'true' : 'false')
        }),
        success: function(data) {
          $('#addUserDialog').dialog('close');
          getInvitedUsers();
        }
      });
    });

    var getInvitedUsers = function() {
      $.ajax({
        url: '/api/getInvitedUsers',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>',
          organization: '<%= user.organization %>'
        },
        success: function(data) {
          invitedUsersTable.clear().draw();
          data.forEach(function(invitedUser) {
            invitedUsersTable.row.add([
              invitedUser.email,
              invitedUser.status
            ]).draw(false);
          });
        }
      });
    };

    var updateUserGPA = function() {
      var self = this;
      var jsonData = {
        user: $(self).data('user'),
        organization: '<%= user.organization %>',
        reportedGPA: $(self).val()
      };
      if ($(self).data('semester')) {
        jsonData.semester = $(self).data('semester');
      } else if ($(self).data('container') && $(self).data('year')) {
        jsonData.semesterContainer = $(self).data('container');
        jsonData.year = $(self).data('year');
      }
      $.ajax({
        url: '/api/postUserGPA',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(jsonData),
        success: function(data) {
          getActiveUsersByTrimester();
        }
      });
    };

    var getActiveUsersByTrimester = function() {
      $.ajax({
        url: '/api/getActiveUsersByTrimester',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>',
          organization: '<%= user.organization %>',
          semesterContainer: $('#activeUsersTrimester').val(),
          year: $('#activeUsersYear').val()
        },
        success: function(data) {
          activeUsersTable.clear().draw();
          var gpaData = '';
          data.forEach(function(user) {
            if (user.isRegistered) {
              gpaData = 'data-semester="' + user.semester + '"';
            } else {
              gpaData = 'data-container="' + $('#activeUsersTrimester').val() + '" data-year="' + $('#activeUsersYear').val() + '"';
            }
            activeUsersTable.row.add([
              user.isRegistered ? user.displayName : '<b>' + user.displayName + '</b>',
              user.email,
              '<input id="updateGPA_' + user.id + '" type="text" value="' + (user.reportedGPA ? user.reportedGPA.toFixed(2) : '') + '" data-user="' + user.id + '" ' + gpaData + '>',
              user.grades || '',
              user.hours || ''
            ]).draw(false);
            $('#updateGPA_' + user.id).change(updateUserGPA);
          });
        }
      });
    };

    $('#submitActiveUsers').click(function() {
      getActiveUsersByTrimester();
    });

    getActiveUsersByTrimester();
    getInvitedUsers();
  });
</script>

<div class="card">
  <div class="cardContents">
    <div class="cardTitle">ACTIVE USERS</div>
    <select id="activeUsersTrimester">
    <% semesterContainers.forEach(function(semesterContainer) { %>
      <option value="<%= semesterContainer.id%>"><%= semesterContainer.label %></option>
    <% }); %>
    </select>
    <input id="activeUsersYear" type="text" value="<%= currentYear %>">
    <button id="submitActiveUsers">SUBMIT</button><br>
    <br>
    <table id="activeUsersTable">
      <thead>
        <tr>
          <th>USER</th>
          <th>EMAIL</th>
          <th>GPA</th>
          <th>GRADES</th>
          <th>HOURS</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="cardContents">
    <div class="cardTitle">INVITED USERS</div>
    <table id="invitedUsersTable">
      <thead>
        <tr>
          <th>EMAIL</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button id="addUsersButton" class="floatingActionButton">+</button>
  </div>
</div>

<div id="addUserDialog" title="INVITE USERS">
  USERS<br>
  <input id="orgUsers" type="text"><br>
  <label><input id="orgEmail" type="checkbox" <%= canSendEmails ? 'checked' : 'disabled' %>>Send invite emails</label><br>
  <br>
  <button id="addUserSubmit">OK</button>
</div>
