<% layout('layout') %>
<script>
  $(function() {
    $('#helpClassDialog').dialog({
      autoOpen: false
    });

    $('#dropClassDialog').dialog({
      autoOpen: false
    });

    $('#newClassDialog').dialog({
      autoOpen: false
    });

    $('#logHoursDialog').dialog({
      autoOpen: false
    });

    $('#logWebsiteDialog').dialog({
      autoOpen: false
    });

    $('.gradeSelector').change(function() {
      var self = this;
      $.ajax({
        url: '/api/updateClassInstance',
        method: 'PUT',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          grade: $(self).val(),
          id: $(self).attr('id')
        }),
        success: function(data) {}
      });
    });

    var fourDigitNumberInput = function (e) {
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1
        || (e.keyCode == 65 && e.ctrlKey === true)
        || (e.keyCode == 67 && e.ctrlKey === true)
        || (e.keyCode == 88 && e.ctrlKey === true)
        || (e.keyCode >= 35 && e.keyCode <= 39)) {
          return;
      }
      if ($(this).val().length == 4 || ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105))) {
        e.preventDefault();
      }
    };

    $('#newClassIdentifier').keydown(fourDigitNumberInput);
    $('#newClassCRN').keydown(fourDigitNumberInput);

    // $('.logHelp').click(function(event) {
    //   $('#logHoursDialog').dialog('open');
    //   event.preventDefault();
    //   event.stopPropagation();
    // });

    $('.logHoursSubmit').click(function(event) {
      // data: JSON.stringify({
      //   helpType: 1,
      //   websiteTitle:
      //   websiteURL:
      //   classInstance:
      //   user:
      //   completedDate:
      //   description:
      // }),
      $.ajax({
        url: '/api/postNewHelpInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          helpType: 0,
          hours: $('#postHelpHours').val(),
          classInstance: $('#postHelpClassInstance').val(),
          user: '<%= user._id %>',
          completedDate: Math.round(new Date().getTime() / 1000),
          description: $('#hoursDescription').val()
        }),
        success: function(data) { }
      });

      event.preventDefault();
      event.stopPropagation();
    });

    $('#logWebsiteSubmit').click(function(event) {
      // data: JSON.stringify({
      //   helpType: 1,
      //   websiteTitle:
      //   websiteURL:
      //   classInstance:
      //   user:
      //   completedDate:
      //   description:
      // }),
      $.ajax({
        url: '/api/postNewHelpInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          helpType: 1,
          websiteID: $('#websiteID').val(),
          classInstance: $('#websiteInstance').val(),
          user: '<%= user._id %>',
          completedDate: Math.round(new Date().getTime() / 1000),
          description: $('#websiteDescription').val()
        }),
        success: function(data) {
          $('#logWebsiteDialog').dialog('close');
        }
      });

      event.preventDefault();
      event.stopPropagation();
    });

    $('.gradeHelpButton').click(function(event) {
      var self = this;
      $.ajax({
        url: '/api/getClassHelp',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>',
          id: $(self).attr('id')
        },
        success: function(data) {
          $('#helpClassUsers').empty();
          $('#helpClassWebsites').empty();
          if (data.websites) {
            data.websites.forEach(function(website, index) {
              $('<a>',{
                text: website.title,
                href: website.url,
                target: '_blank'
              }).appendTo('#helpClassWebsites');
              $('#helpClassWebsites').append(' ');
              $('<a>',{
                text: 'LOG',
                href: '#',
                class: 'logHelp',
                id: 'logHelp_' + index
              }).appendTo('#helpClassWebsites');
              $('#helpClassWebsites').append('<br>');
              $('#logHelp_' + index).click(function(event) {
                $('#websiteInstance').val($(self).attr('id'));
                $('#websiteTitle').val(website.title);
                $('#websiteURL').val(website.url);
                $('#websiteID').val(website.id);
                $('#logWebsiteDialog').dialog('open');
                event.preventDefault();
                event.stopPropagation();
              });
            });
          }
          $('#helpClassDialog').dialog('open');
        }
      });
      event.preventDefault();
      event.stopPropagation();
    });

    $('.gradeDropButton').click(function(event) {
      $('#dropClassDialog').dialog('open');
      $('#dropClassID').val($(this).attr('id'));
      event.preventDefault();
      event.stopPropagation();
    });

    $('#newClassButton').click(function(event) {
      $('#newClassDialog').dialog('open');
      event.preventDefault();
      event.stopPropagation();
    });

    $('#dropClassSubmit').click(function(event) {
      $.ajax({
        url: '/api/dropClassInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          excuse: $('#dropClassExcuse').val(),
          id: $('#dropClassID').val()
        }),
        success: function(data) {
          $('#dropClassDialog').dialog('close');
        }
      });
      event.preventDefault();
      event.stopPropagation();
    });

    // data.trimester && data.year && data.classCode && data.classIdentifier && data.user

    $('#newClassSubmit').click(function(event) {
      $.ajax({
        url: '/api/newClassInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          user: '<%= user._id %>',
          trimester: $('#newClassTrimester').val(),
          year: $('#newClassYear').val(),
          classCode: $('#newClassCode').val(),
          classIdentifier: $('#newClassIdentifier').val()
        }),
        success: function(data) {
          $('#newClassDialog').dialog('close');
        }
      });
      event.preventDefault();
      event.stopPropagation();
    });
  });
</script>
<p><%= isNotUser ? user.displayName + '<br>' : '' %>GPA: <%= user.reportedGPA %></p>
<% semesters.forEach(function(semester, index){ %>
<%= trimesterOptions[semester.trimester] %> <%= semester.year %> <%= currentTrimester == index ? '(Current)' : '' %>
<table>
  <tr>
    <th>Code</th>
    <th>Identifier</th>
    <th>Grade</th>
    <th>Actions</th>
  </tr>
  <% semester.classes.forEach(function(fClass){ -%>
  <tr>
    <td><%= fClass.classCode %></td>
    <td><%= fClass.classIdentifier %></td>
    <td><select name="grade" class="gradeSelector" id="<%= fClass.id %>">
      <% gradeOptions.forEach(function(gradeOption, x){ %>
      <option value="<%= x %>" <% if (x == fClass.grade) { %>selected="selected"<% } %>><%= gradeOption %></option>
      <% }); %>
    </select></td>
    <td>
      <a class="gradeHelpButton" id="<%= fClass.id %>" href="#">HELP</a> <a class="gradeDropButton" id="<%= fClass.id %>" href="#">DROP</a>
    </td>
  </tr>
  <% }); %>
</table>
<br>
<br>
<% }); %>
<a id="newClassButton" href="#">Add a class</a>

<div id="newClassDialog" title="New Class">
  <select id="newClassTrimester">
  	<option value="0">Spring</option>
  	<option value="1">Summer</option>
  	<option value="2">Fall</option>
  </select>
  <select id="newClassYear">
    <% yearOptions.forEach(function(yearOption){ %>
  	<option value="<%= yearOption %>"><%= yearOption %></option>
    <% }); %>
  </select>
  <br>
  <select id="newClassCode">
    <% courseOptions.forEach(function(courseOption){ %>
  	<option value="<%= courseOption %>"><%= courseOption %></option>
    <% }); %>
  </select>
  <input type="text" id="newClassIdentifier" placeholder="Course number">
  <input type="text" id="newClassCRN" placeholder="CRN">
  <br>
  <br>
  <a id="newClassSubmit" href="#">New class</a>
</div>

<div id="helpClassDialog" title="Help">
  <!-- <input type="hidden" id="dropClassID" value="">
  Enter reason for dropping class:<br>
  <input type="text" id="dropClassExcuse"><br>
  <a id="dropClassSubmit" href="#">Drop class</a> -->
  Users:<br>
  <div id="helpClassUsers"></div>
  Websites:<br>
  <div id="helpClassWebsites"></div>
</div>

<div id="dropClassDialog" title="Drop Class">
  <input type="hidden" id="dropClassID" value="">
  Enter reason for dropping class:<br>
  <input type="text" id="dropClassExcuse"><br>
  <a id="dropClassSubmit" href="#">Drop class</a>
</div>

<div id="logHoursDialog" title="Log Hours">
  <div id="logHoursText"></div>
  <input type="hidden" id="hoursInstance" value="">
  Write about it: <input type="text" id="hoursDescription" value=""><br>
  Number of hours: <input type="number" id="postHelpHours" value="0"><br>
Studied with: <input type="number" id="postHelpUsers" value=""><br>
  <a id="logHoursSubmit" href="#">Log this</a>
</div>

<div id="logWebsiteDialog" title="Log Website">
  <div id="logWebsiteText"></div>
  <input type="hidden" id="websiteInstance" value="">
  <input type="hidden" id="websiteTitle" value="">
  <input type="hidden" id="websiteURL" value="">
  <input type="hidden" id="websiteID" value="">
  Write about it: <input type="text" id="websiteDescription" value=""><br>
  <a id="logWebsiteSubmit" href="#">Log this</a>
</div>
