<% layout('layout') %>
<script>
  var classes = {};
  $(document).ready(function() {
    var semesterTable = $('#semesterClasses').DataTable({
      bPaginate: false,
      bFilter: false,
      bInfo: false
    });
    var userLogsTable = $('#userLogsTable').DataTable({
      bPaginate: false,
      bFilter: false,
      bInfo: false
    });
    $('#userClassDialog').dialog({
      autoOpen: false
    });

    $('#dropClassDialog').dialog({
      autoOpen: false
    });

    $('#newClassDialog').dialog({
      autoOpen: false
    });

    $('#logHoursMasterDialog').dialog({
      autoOpen: false
    });

    $('#logWebsiteDialog').dialog({
      autoOpen: false
    });

    $('#semesterSelector').change(function() {
      var self = this;
      $.ajax({
        url: '/api/getSemester',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          semester: $('#semesterSelector').val(),
          user: '<%= user._id %>'
        },
        success: function(data) {
          semesterTable.clear();
          classes = data.classes;
          classes.forEach(function(fClass) {
            semesterTable.row.add([
              fClass.classCode,
              fClass.classIdentifier,
              '<select name="grade" class="gradeSelector" id="gradeSelector_' + fClass.id + '" data-class="' + fClass.id + '">'
              <% gradeOptions.forEach(function(gradeOption, x){ %>
              + '<option value="<%= x %>"><%= gradeOption %></option>'
              <% }); %>
              + '</select>',
              '<a class="gradeUserButton" id="gradeUserButton_' + fClass.id + '" data-class="' + fClass.id + '" href="#">USERS</a>'
              + ' <a class="gradeDropButton" id="gradeDropButton_' + fClass.id + '" data-class="' + fClass.id + '" href="#">DROP</a>'
            ]).draw( false );
            $('#gradeSelector_' + fClass.id + ' option')[fClass.grade].selected = true;
            $('#gradeSelector_' + fClass.id).change(gradeSelectorChanged);
            $('#gradeUserButton_' + fClass.id).click(userButtonClick);
            $('#gradeDropButton_' + fClass.id).click(dropButtonClick);
          });
        }
      });
    });

    var getLogs = function() {
      var self = this;
      $.ajax({
        url: '/api/getLogs',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>'
        },
        success: function(data) {
          userLogsTable.clear();
          data.forEach(function(helpInstance) {
            userLogsTable.row.add([
              helpInstance.day,
              helpInstance.class,
              helpInstance.description
              // new Date(helpInstance.dueDate * 1000),
              // helpInstance.classInstance,
              // helpInstance.helpType,
              // helpInstance.hours,
              // helpInstance.websiteID,
              // helpInstance.description,
              // helpInstance.helpingUsers
            ]).draw( false );
          });
        }
      });
    };

    var gradeSelectorChanged = function() {
      var self = this;
      $.ajax({
        url: '/api/updateClassInstance',
        method: 'PUT',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          grade: $(self).val(),
          id: $(self).data('class')
        }),
        success: function(data) {}
      });
    };

    var fourDigitNumberInput = function (e) {
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1
        || (e.keyCode == 65 && e.ctrlKey === true)
        || (e.keyCode == 67 && e.ctrlKey === true)
        || (e.keyCode == 88 && e.ctrlKey === true)
        || (e.keyCode >= 35 && e.keyCode <= 39)) {
          return;
      }
      if ($(this).val().length == 4 || ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105))) {
        e.preventDefault();
      }
    };

    $('#newClassIdentifier').keydown(fourDigitNumberInput);
    $('#newClassCRN').keydown(fourDigitNumberInput);

    $('.logHoursSubmit').click(function(event) {
      $.ajax({
        url: '/api/postNewHelpInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          helpType: 0,
          hours: $('#postHelpHours').val(),
          classInstance: $('#logHoursClass').val(),
          user: '<%= user._id %>',
          completedDate: Math.round(new Date().getTime() / 1000),
          description: $('#hoursDescription').val()
        }),
        success: function(data) {
          getLogs();
        }
      });

      event.preventDefault();
      event.stopPropagation();
    });

    $('#logHoursButton').click(function(event) {
      $("#logHoursClass").html('');
      classes.forEach(function(fClass) {
        $("#logHoursClass").append($("<option />").val(fClass.id).text(fClass.classCode + ' ' + fClass.classIdentifier));
      });
      $("#logHoursClass").append($("<option />").val('').text('Other'));
      $('#logHoursMasterDialog').dialog('open');
      event.preventDefault();
      event.stopPropagation();
    });

    $('.logWebsiteButton').click(function(event) {
      var self = $(this);
      $("#websiteTitle").val(self.data('title'));
      $("#websiteURL").val(self.data('url'));
      $("#websiteID").val(self.data('id'));
      $("#logWebsiteClass").html('');
      classes.forEach(function(fClass) {
        $("#logWebsiteClass").append($("<option />").val(fClass.id).text(fClass.classCode + ' ' + fClass.classIdentifier));
      });
      $("#logWebsiteClass").append($("<option />").val('').text('Other'));
      $('#logWebsiteDialog').dialog('open');
      event.preventDefault();
      event.stopPropagation();
    });

    $('#logWebsiteSubmit').click(function(event) {
      $.ajax({
        url: '/api/postNewHelpInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          helpType: 1,
          websiteID: $('#websiteID').val(),
          classInstance: $('#logWebsiteClass').val(),
          user: '<%= user._id %>',
          completedDate: Math.round(new Date().getTime() / 1000),
          description: $('#websiteDescription').val()
        }),
        success: function(data) {
          $('#logWebsiteDialog').dialog('close');
          getLogs();
        }
      });

      event.preventDefault();
      event.stopPropagation();
    });

    var userButtonClick = function(event) {
      var self = this;
      $.ajax({
        url: '/api/getClassHelp',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>',
          id: $(self).data('class')
        },
        success: function(data) {
          $('#helpClassUsers').empty();
          // if (data.websites) {
          //   data.websites.forEach(function(website, index) {
          //     $('<a>',{
          //       text: website.title,
          //       href: website.url,
          //       target: '_blank'
          //     }).appendTo('#helpClassWebsites');
          //     $('#helpClassWebsites').append(' ');
          //     $('<a>',{
          //       text: 'LOG',
          //       href: '#',
          //       class: 'logHelp',
          //       id: 'logHelp_' + index
          //     }).appendTo('#helpClassWebsites');
          //     $('#helpClassWebsites').append('<br>');
          //     $('#logHelp_' + index).click(function(event) {
          //       $('#websiteInstance').val($(self).data('class'));
          //       $('#websiteTitle').val(website.title);
          //       $('#websiteURL').val(website.url);
          //       $('#websiteID').val(website.id);
          //       $('#logWebsiteDialog').dialog('open');
          //       event.preventDefault();
          //       event.stopPropagation();
          //     });
          //   });
          // }
          $('#userClassDialog').dialog('open');
        }
      });
      event.preventDefault();
      event.stopPropagation();
    };

    var dropButtonClick = function(event) {
      $('#dropClassDialog').dialog('open');
      $('#dropClassID').val($(this).data('class'));
      event.preventDefault();
      event.stopPropagation();
    };

    $('#newClassButton').click(function(event) {
      $('#newClassDialog').dialog('open');
      event.preventDefault();
      event.stopPropagation();
    });

    $('#dropClassSubmit').click(function(event) {
      $.ajax({
        url: '/api/dropClassInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          excuse: $('#dropClassExcuse').val(),
          id: $('#dropClassID').val()
        }),
        success: function(data) {
          $('#dropClassDialog').dialog('close');
        }
      });
      event.preventDefault();
      event.stopPropagation();
    });

    $('#newClassSubmit').click(function(event) {
      $.ajax({
        url: '/api/newClassInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          user: '<%= user._id %>',
          trimester: $('#newClassTrimester').val(),
          year: $('#newClassYear').val(),
          classCode: $('#newClassCode').val(),
          classIdentifier: $('#newClassIdentifier').val()
        }),
        success: function(data) {
          $('#newClassDialog').dialog('close');
        }
      });
      event.preventDefault();
      event.stopPropagation();
    });
    $('#semesterSelector').change();
    getLogs();
  });
</script>
<p>
  <%= isNotUser ? user.displayName + '<br>' : '' %>
  GPA: <%= user.reportedGPA %>
</p>
<br>

Logs since <%= lastSunday %>:<br>
<br>

<table id="userLogsTable">
  <thead>
    <tr>
      <th>Day</th>
      <th>Class</th>
      <th>Description</th>
      <!--<th>Due Date</th>
      <th>Class</th>
      <th>Type</th>
      <th>Hours</th>
      <th>Website</th>
      <th>Description</th>
      <th>Helping users</th>-->
    </tr>
  </thead>
  <tbody></tbody>
</table>
<br>
<p>
  <a id="logHoursButton" href="#">Log hours</a>
  <% websites.forEach(function(website) { %>
    <a class="logWebsiteButton" href="#" data-title="<%= website.title %>" data-url="<%= website.url %>" data-id="<%= website.id %>">Log "<%= website.title %>"</a>
  <% }); %>
</p>
<select name="semester" id="semesterSelector">
  <% semesters.forEach(function(semester, index){ %>
  <option value="<%= semester.id %>"><%= trimesterOptions[semester.trimester] %> <%= semester.year %></option>
  <% }); %>
</select><br>
<br>
<table id="semesterClasses">
  <thead>
    <tr>
      <th>Code</th>
      <th>Identifier</th>
      <th>Grade</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<br>
<br>
<a id="newClassButton" href="#">Add a class</a>

<div id="newClassDialog" title="New Class">
  <select id="newClassTrimester">
  	<option value="0">Spring</option>
  	<option value="1">Summer</option>
  	<option value="2">Fall</option>
  </select>
  <select id="newClassYear">
    <% yearOptions.forEach(function(yearOption){ %>
  	<option value="<%= yearOption %>"><%= yearOption %></option>
    <% }); %>
  </select>
  <br>
  <select id="newClassCode">
    <% courseOptions.forEach(function(courseOption){ %>
  	<option value="<%= courseOption %>"><%= courseOption %></option>
    <% }); %>
  </select>
  <input type="text" id="newClassIdentifier" placeholder="Course number">
  <input type="text" id="newClassCRN" placeholder="CRN">
  <br>
  <br>
  <a id="newClassSubmit" href="#">New class</a>
</div>

<div id="userClassDialog" title="Help">
  Users:<br>
  <div id="helpClassUsers"></div>
</div>

<div id="dropClassDialog" title="Drop Class">
  <input type="hidden" id="dropClassID" value="">
  Enter reason for dropping class:<br>
  <input type="text" id="dropClassExcuse"><br>
  <a id="dropClassSubmit" href="#">Drop class</a>
</div>

<div id="logHoursMasterDialog" title="Log Hours">
  <select id="logHoursClass"></select><br>
  <div id="logHoursText"></div>
  Write about it: <input type="text" id="hoursDescription" value=""><br>
  Number of hours: <input type="number" id="postHelpHours" value="0"><br>
  Studied with: <input type="number" id="postHelpUsers" value=""><br>
  <a id="logHoursSubmit" href="#">Log this</a>
</div>

<div id="logWebsiteDialog" title="Log Website">
  <select id="logWebsiteClass"></select><br>
  <div id="logWebsiteText"></div>
  <input type="hidden" id="websiteTitle" value="">
  <input type="hidden" id="websiteURL" value="">
  <input type="hidden" id="websiteID" value="">
  Write about it: <input type="text" id="websiteDescription" value=""><br>
  <a id="logWebsiteSubmit" href="#">Log this</a>
</div>
