<% layout('layout') %>
<script>
  var classes = {};
  $(document).ready(function() {

    var userLogsTable = $('#userLogsTable').DataTable({
      bPaginate: false,
      bFilter: false,
      bInfo: false
    });

    $('#newClassDialog').dialog({
      modal: true,
      autoOpen: false
    });

    $('#newSemesterDialog').dialog({
      modal: true,
      autoOpen: false
    });

    $('#logHoursMasterDialog').dialog({
      modal: true,
      autoOpen: false
    });

    var reportSubmitButtonClicked = function() {
      location.href = '/report?index=' + $(this).data('index') + '&frequency=' + $(this).data('frequency');
    };

    $('#semesterSelector').change(function() {
      $.ajax({
        url: '/api/getSemester',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          semester: $('#semesterSelector').val(),
          user: '<%= user._id %>'
        },
        success: function(data) {
          $('#newClassSemester').val($('#semesterSelector').val());
          $('#newClassTrimester').text(data.trimesterLabel);
          $('#newClassYear').text(data.year);
          $('#semesterCumulativeGPA').text(data.cumulativeGPA != 0 ? data.cumulativeGPA : '---');
          $.ajax({
            url: '/api/setSelectedSemester',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
              user: '<%= user._id %>',
              semester: data.id
            }),
            success: function(data) {}
          });
          flushClassTable();
          classes = data.classes;
          classes.forEach(function(fClass) {
            addClassToClassTable(fClass);
          });
          $('.reports').html('');
          data.reportDates.forEach(function(reportDate) {
            if (reportDate.submittable) {
              // $('.reports').append('<button class="submitButton reportSubmitButton" id="reportSubmitButton_' + reportDate.index + '_' + reportDate.frequency + '" data-index="' + reportDate.index + '" data-frequency="' + reportDate.frequency + '">SUBMIT REPORT <span style="font-size: 0.7em;">DUE ' + reportDate.dueDate.toUpperCase() + '</span></button>');
              // $('#reportSubmitButton_' + reportDate.index + '_' + reportDate.frequency).click(reportSubmitButtonClicked);
            }
          });
        }
      });
    });

    var getLogs = function() {
      $.ajax({
        url: '/api/getLogs',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>'
        },
        success: function(data) {
          userLogsTable.clear();
          var hoursLogged = 0;
          data.forEach(function(helpInstance) {
            userLogsTable.row.add([
              helpInstance.day,
              helpInstance.class,
              helpInstance.description
            ]).draw(false);
            hoursLogged += helpInstance.hours;
          });
          $('#hoursLogged').text(hoursLogged);
        }
      });
    };

    var getSemesters = function(selectedTrimester, selectedYear) {
      var self = this;
      $.ajax({
        url: '/api/getSemesters',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: {
          user: '<%= user._id %>'
        },
        success: function(data) {
          $("#semesterSelector").html('');
          data.forEach(function(semester) {
            $('#semesterSelector').append($('<option />').val(semester.id).text(semester.trimesterLabel + ' ' + semester.year));
            if (selectedTrimester == semester.trimester && selectedYear == semester.year) {
              $('#semesterSelector option[value=' + semester.id + ']').prop('selected', 'selected');
            }
          });
          if (data.length == 0) {
            $('#newSemesterDialog').dialog({
              dialogClass: 'dialog-no-close'
            });
            $('#newSemesterButton').click();
          }
          <% if (user.selectedSemester) { %>
          $('#semesterSelector').val('<%= user.selectedSemester %>');
          <% } %>
          $('#semesterSelector').change();
        }
      });
    };

    var fourDigitNumberInput = function (e) {
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1
        || (e.keyCode == 65 && e.ctrlKey === true)
        || (e.keyCode == 67 && e.ctrlKey === true)
        || (e.keyCode == 88 && e.ctrlKey === true)
        || (e.keyCode >= 35 && e.keyCode <= 39)) {
          return;
      }
      if ($(this).val().length == 4 || ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105))) {
        e.preventDefault();
      }
    };

    $('#newClassIdentifier').keydown(fourDigitNumberInput);
    $('#newClassCRN').keydown(fourDigitNumberInput);

    $('#logHoursSubmit').click(function() {
      $.ajax({
        url: '/api/postNewHelpInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          helpType: '0',
          hours: $('#postHelpHours').val(),
          classInstance: $('#logHoursClass').val(),
          user: '<%= user._id %>',
          completedDate: Math.round(new Date().getTime() / 1000),
          description: $('#hoursDescription').val()
        }),
        success: function(data) {
          getLogs();
          $('#logHoursMasterDialog').dialog('close');
        }
      });
    });

    $('#logHoursButton').click(function(event) {
      $('#logHoursClass').html('');
      classes.forEach(function(fClass) {
        $("#logHoursClass").append($("<option />").val(fClass.id).text(fClass.classCode + ' ' + fClass.classIdentifier));
      });
      $("#logHoursClass").append($("<option />").val('').text('Other'));
      $('#hoursDescription').val('');
      $('#postHelpHours').prop('selectedIndex', 0);
      logHoursValidation();
      $('#logHoursMasterDialog').dialog('open');
    });

    var newClassValidation = function() {
      if ($('#newClassIdentifier').val() && $('#newClassCRN').val()) {
        $('#newClassSubmit').prop('disabled', false);
      } else {
        $('#newClassSubmit').prop('disabled', true);
      }
    };

    $('#newClassIdentifier').on('keyup', newClassValidation);
    $('#newClassCRN').on('keyup', newClassValidation);

    var logHoursValidation = function() {
      if ($('#hoursDescription').val()) {
        $('#logHoursSubmit').prop('disabled', false);
      } else {
        $('#logHoursSubmit').prop('disabled', true);
      }
    };

    $('#hoursDescription').on('keyup', logHoursValidation);

    $('#newClassButton').click(function(event) {
      $('#newClassIdentifier').val('');
      $('#newClassCRN').val('');
      $('#newClassCode').prop('selectedIndex', 0);
      $('#newClassCredits').prop('selectedIndex', 0);
      newClassValidation();
      $('#newClassDialog').dialog('open');
    });

    $('#newSemesterButton').click(function(event) {
      $('#newSemesterDialog').dialog('open');
    });

    $('#newSemesterSubmit').click(function() {
      $.ajax({
        url: '/api/postNewSemester',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          user: '<%= user._id %>',
          semesterContainer: $('#newSemesterTrimester').val(),
          year: $('#newSemesterYear').val()
        }),
        success: function(data) {
          getSemesters($('#newSemesterTrimester').val(), $('#newSemesterYear').val());
          $('#newSemesterDialog').dialog('option', 'dialogClass', '');
          $('#newSemesterDialog').dialog('close');
        }
      });
    });

    $('#newClassSubmit').click(function() {
      $.ajax({
        url: '/api/newClassInstance',
        method: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
          user: '<%= user._id %>',
          semester: $('#newClassSemester').val(),
          classCode: $('#newClassCode').val(),
          classIdentifier: $('#newClassIdentifier').val(),
          classCredits: $('#newClassCredits').val()
        }),
        success: function(data) {
          $('#semesterSelector').change();
          $('#newClassDialog').dialog('close');
        }
      });
    });
    $('#semesterSwitchContainer').appendTo($('.navbar'));
    $('.navPanelStats').appendTo($('.navbar'));

    <% include userGradesJavascript %>

    getSemesters('', '');
    getLogs();
  });
</script>
<div class="navPanelContainer navPanelBase" id="semesterSwitchContainer">
  <select name="semester" id="semesterSelector"></select>&nbsp;&nbsp;&nbsp;<button id="newSemesterButton">+</button>
</div>
<div class="statsCard">
  <div class="statsCardContents">
    <table id="userStats">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= isNotUser ? user.displayName.toUpperCase() + '\'S ' : '' %>CUMULATIVE GPA</td>
          <td><span id="semesterCumulativeGPA">---</span></td>
        </tr>
        <tr>
          <td><%= isNotUser ? user.displayName.toUpperCase() + '\'S ' : '' %>SEMESTER GPA</td>
          <td><span id="semesterCalculatedGPA">---</span></td>
        </tr>
        <% if (category) { %>
        <tr>
          <td>CATEGORY</td>
          <td><%= category.label || '---' %></td>
        </tr>
        <% } %>
        <tr>
          <td>WEEKLY STUDY HOURS</td>
          <td><span id="hoursLogged">---</span>
            <% if (category && category.studyHoursRequired) { %>
              /<%= category.minimumStudyHours %></td>
            <% } %>
        </tr>
      </tbody>
    </table>
    <div class="reports"></div>
  </div>
</div>
<div class="card">
  <div class="cardContents">
    <div class="fabLeft">
      <div class="cardTitle">CLASSES</div>
      <% include userGrades %>
    </div>
    <button id="newClassButton" class="floatingActionButton">+</button>
  </div>
</div>
<div class="card">
  <div class="cardContents">
    <div class="fabLeft">
      <div class="cardTitle">HOURS THIS WEEK</div>
      <table id="userLogsTable">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <button id="logHoursButton" class="floatingActionButton">+</button>
  </div>
</div>

<div id="newSemesterDialog" title="NEW SEMESTER">
  <select id="newSemesterTrimester">
    <% trimesterOptions.forEach(function(trimesterOption) { %>
  	<option value="<%= trimesterOption.id %>"><%= trimesterOption.label %></option>
    <% }); %>
  </select>
  <select id="newSemesterYear">
    <% yearOptions.forEach(function(yearOption) { %>
  	<option value="<%= yearOption %>"><%= yearOption %></option>
    <% }); %>
  </select><br>
  <br>
  <button class="submitButton" id="newSemesterSubmit">SUBMIT</button>
</div>

<div id="newClassDialog" title="NEW CLASS">
  <span id="newClassTrimester"></span> <span id="newClassYear"></span>
  <br>
  <select id="newClassCode">
    <% courseOptions.forEach(function(courseOption) { %>
  	<option value="<%= courseOption %>"><%= courseOption %></option>
    <% }); %>
  </select>
  <input type="hidden" id="newClassSemester">
  <input type="text" id="newClassIdentifier" placeholder="Course number">
  <input type="text" id="newClassCRN" placeholder="CRN"><br>
  CREDITS: <select id="newClassCredits">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select><br>
  <br>
  <button class="submitButton" id="newClassSubmit">SUBMIT</button>
</div>

<div id="logHoursMasterDialog" title="LOG HOURS">
  <select id="logHoursClass"></select><br>
  <div id="logHoursText"></div>
  Write about it: <input type="text" id="hoursDescription"><br>
  Number of hours: <select id="postHelpHours">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
  </select><br>
  <br>
  <!--Studied with: <input type="number" id="postHelpUsers" value=""><br>-->
  <button class="submitButton" id="logHoursSubmit">SUBMIT</button>
</div>
